.list-group.group-list
  - service.apps.each do |app|
    %a.list-group-item.group_item{href: detail_service_app_path(service, app), class: app == @app ? 'active' : ''}
      %h4.list-group-item-heading= app.name
      .list-group-item-text
        %span.text-muted CPU
        %strong= app.cpu_used

        %span.text-muted MEM
        %strong= app.mem_used

