<div class="col-md-12">
  <div class="form-group" ng-class="{ 'has-error' : appForm.volumes.$invalid && (appForm.volumes.$dirty || submitted)}">
    <label for="volumes" class="col-sm-2 control-label"><%= t("app.volumes") %></label>
    <div class="col-sm-10">
      <table class="table table-bordered">
        <thead>
          <td>Host Path</td>
          <td>Container Path</td>
          <td>Mode</td>
          <td></td>
        </thead>
        <tbody>
          <tr  ng-repeat="volume in app.volumes">
            <td> <input type="input" class="form-control" name="volumes" ng-model="volume.hostPath" ng-required=true> </td>
            <td> <input type="input" class="form-control" name="volumes" ng-model="volume.containerPath" ng-required=true> </td>
            <td>
              <select class='form-control' ng-model='volume.mode' ng-required=true>
                <option value="ro"> RO </option>
                <option value="wo"> WO </option>
                <option value="rw"> RW </option>
              </select>
            </td>
            <td><a class="btn btn-danger btn-sm" ng-click="removeVolumes(k)"><%= fa_icon(:minus)%> </a></td>
          </tr>
          <tr>
            <td colspan=5><a class="btn btn-primary btn-sm" ng-click="moreVolumes()"><%= fa_icon(:plus)%> New Volume </a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <p ng-show="appForm.volumes.$invalid && (appForm.volumes.$dirty || submitted)" class="help-block">You name is required.</p>
  </div>
</div>

