.row
  .col-md-3
    = render :partial => "group_left", locals: { groups: @groups }

  .col-md-9
    = render :partial => "groups/details/users_for_default_group", locals: { group: @groups.first }
    = render :partial => "groups/details/edit_form", locals: { group: @groups.first }
    = render :partial => "groups/details/detail", locals: { group: @groups.first }
