= panel_item(t("nodes.container_stdout_logs"), :info) do
  .well= raw @container.logs(stdout: 1).gsub("\n", "<br>")

= panel_item(t("nodes.container_stderr_logs"), :info) do
  .well= @container.logs(stderr: 1).gsub("\n", "<br>")
