.row.number

.row.statistics
  %h4 资源使用率
  .col-md-6
    =  line_chart sample_data, {height: 170}
  .col-md-6
    =  bar_chart sample_data, {height: 170}


.top_charts
  .col-md-6.top_images
    镜像TOP5
  .col-md-6.top_audits
    审计事件
