%aside.main-sidebar
  %section.sidebar
    %ul.sidebar-menu
      %li
        = link_to 'Group', groups_path
      %li
        = link_to 'Group', groups_path
      %li
        = link_to 'Group', groups_path

