#owner_chooser
  .well
    %p.owner_item{data: { owner_type: "user", owner_id: current_user.id } }
      = image_tag current_user.icon.small.try(:url) || "placeholder.png"
    - current_user.groups_without_default.each do |group|
      %p.owner_item{data: { owner_type: "group", owner_id: group.id } }
        = image_tag group.icon.small.try(:url) || "placeholder.png"
