# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: df301bb396601e039e6b0f8b1fcad0a7aee65727c0c863090e10e03d772454e88ed981ba56d5c31b6d41ea9941b8eea05ace8509b9080c2f656634bfe158542a
  encryption_private_key_path: registry2/certs/domain.key

test:
  secret_key_base: 8017130413a963054bd261c5ee0b13b415d7b678e6005f74fa04defae41a279035a8e03c6c547558e28a02e639e55af7d551d67b9d718107e3ed686524264fbc
  encryption_private_key_path: registry2/certs/domain.key

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  encryption_private_key_path: registry2/certs/cert.pem
