.row
  .col-md-12.text-right
    = link_to fa_icon(:plus) + " " + t('common.new_namespace'), new_namespace_path, class: 'btn btn-primary', data: { prompt: { title: t("common.prompt"), name: "owner", type: "choose_owner"} }, method: :get

.row
  .col-md-4.col-lg-2
    = render :partial => "namespaces/namespace_left", locals: { namespaces: @namespaces }
  .col-md-8.col-lg-10

