.row
  .col-md-3
    = render :partial => "namespaces/namespace_left", locals: { namespaces: @namespaces }
  .col-md-9
    .row
      .col-md-3
        = render :partial => "widgets/info_widget", locals: {color: :green, num: current_user.readable_namespaces.count, what_cn: "镜像库", what_en: "Namespaces", icon: :cloud, link:  namespaces_path}
    
      .col-md-3
        = render :partial => "widgets/info_widget", locals: {color: :red, num: current_user.readable_namespaces.reduce(0) {|sum, namespace| sum += namespace.repositories.count; sum} , what_en: "Images", what_cn: "镜像", icon: :server, link:  nodes_path}
    
      .col-md-3
    
      .col-md-3


