- case Site.default.backend_option
- when "marathon"
  = render :partial => "marathon_app_state", locals: { app: @app, service: @service, marathon_app: @app.marathon_app }
- when "swan"
  = render :partial => "swan_app_state", locals: { app: @app, service: @service, swan_app: @app.swan_app }
