- case Site.default.backend_option
- when "marathon"
  = render :partial => "marathon_app_state", locals: { marathon_app: @marathon_app }
- when "swan"
  = render :partial => "swan_app_state", locals: { swan_app: @swan_app }
