// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


 .group_item {
  cursor: pointer;
}

 .group-list{
  height: 1000px;
  overflow: scroll;
}


 .group-list img{
  height: 35px;
  width: 35px;
}

