// Place all the styles related to the permissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//

.permission-typeahead{
  height: 40px;
  line-height: 40px;
  border: 1px solid gray;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  position: relative;
}

.permission-typeahead input[type=text]{
  border: none;
  position: absolute;
  bottom: 1px;
  left: 17px;
  outline: none;
  height: 36px;
  width: 300px;
}

.permission-typeahead input[type=submit]{
  border: none;
  position: absolute;
  height: 100%;
  right: 0px;
  -moz-border-radius-topright:25px;
  -moz-border-radius-bottomright:25px;
  -webkit-border-top-right-radius:25px;
  -webkit-border-bottom-right-radius:25px;
  border-top-right-radius:25px;
  border-bottom-right-radius:25px;
}
