// Place all the styles related to the service_templates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//


.service_templates .form_section{
  padding-top: 10px;
}

.service_templates .template_holder {
  position: relative;
}

.service_templates .template_holder .service_template_action{
  transition: 0.5s;
  display: none;
}

.service_templates .template_holder:hover .service_template_action{
  display: block;
  position: absolute;
  z-index: 10;
  opacity: 0.9;
  background-color: black;
  height: 100%;
  width: 100%;
  top: 0px;
  padding: 0px 20px;
  padding-top: 300px;
}
