// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#choose_widget_place_holder{
  height: 150px;
  width: 100%;
  background-color: white;
  padding-top:50px;
  cursor: pointer;
  display: block;
  border: 1px solid #ddd;
}

