.list-group.group-list
  %a.list-group-item.group_item{href: mesos_path()}
    %h4.list-group-item-heading Mesos
    .list-group-item-text
      %span.text-muted 150 core
      %span.text-muted 150G mem

  %a.list-group-item.group_item{href: mesos_path()}
    %h4.list-group-item-heading Marathon
    .list-group-item-text
      %span.text-muted 150 core
      %span.text-muted 150G mem

  %a.list-group-item.group_item{href: mesos_path()}
    %h4.list-group-item-heading Graphna
    .list-group-item-text
      %span.text-muted 150 core
      %span.text-muted 150G mem
