= panel_table(t("system.mesos_slaves"), :server) do
  %table.table
    %thead
      %td= t("system.component")
      %td= t("system.health")
      %td= t("system.last_seen")
    %tbody
      %tr
        %td Mesos
        %td 健康
        %td 1 小时以前

      %tr
        %td Mesos
        %td 健康
        %td 1 小时以前

      %tr
        %td Mesos
        %td 健康
        %td 1 小时以前
